[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]

[packages]
django = "*"
djongo = "*"
dnspython = "*"
pymongo = "==3.7.2"
bleach = "*"
django-email-verification = "*"
config = "*"
python-decouple = "*"
twilio = "*"
django-sms-gateway = "*"
nexmo = "*"
crypto = "*"
gunicorn = "*"
django-heroku = "*"

[requires]
python_version = "3.8"
