asgiref==3.2.10
bleach==3.1.5
CacheControl==0.12.6
cachetools==4.1.1
certifi==2020.6.20
cffi==1.14.1
chardet==3.0.4
config==0.5.0.post0
crypto==1.4.1
cryptography==3.0
dj-database-url==0.5.0
Django==3.0.5
django-email-verification==0.0.7
django-heroku==0.3.1
django-jsonfield==1.4.0
django-picklefield==3.0.1
django-sms-gateway==1.2.1
django-uuidfield-2==0.6.6
djongo==1.3.3
dnspython==2.0.0
firebase-admin==4.3.0
google-api-core==1.22.0
google-api-python-client==1.10.0
google-auth==1.20.0
google-auth-httplib2==0.0.4
google-cloud-core==1.3.0
google-cloud-firestore==1.8.1
google-cloud-storage==1.30.0
google-crc32c==0.1.0
google-resumable-media==0.7.0
googleapis-common-protos==1.52.0
grpcio==1.30.0
gunicorn==20.0.4
httplib2==0.18.1
idna==2.10
msgpack==1.0.0
Naked==0.1.31
nexmo==2.4.0
packaging==20.4
protobuf==3.12.4
psycopg2==2.8.5
pyasn1==0.4.8
pyasn1-modules==0.2.8
pycparser==2.20
PyJWT==1.7.1
pymongo==3.7.2
pyparsing==2.4.7
python-decouple==3.3
pytz==2020.1
PyYAML==5.3.1
requests==2.24.0
rsa==4.6
shellescape==3.8.1
six==1.15.0
sqlparse==0.2.4
twilio==6.44.1
uritemplate==3.0.1
urllib3==1.25.10
webencodings==0.5.1
whitenoise==5.1.0
